$radius: 6px;

body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    height: 82px;
    background-color: #f2e9e4;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    button {
        color: black;
        font-size: 1em;
        border: 0px;
        color: white;
        background-color: rgb(47, 19, 3);
        border-radius: 10px;
        padding: 18px;
        padding-top: 10px;
        padding-bottom: 11px;
        // padding-top: 3px;
        &:hover {
            background-color:rgb(10, 5, 0);
            cursor:pointer;
        }
    }
}

.main {
    display: flex;
    width: 100%;    
}

#map {
    margin: 15px;
    height: calc(100vh - 30px - 82px);
    flex: 1;
}

aside {
    width: 400px;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-overlay.active {
    display: flex;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    min-width: 300px;
}

@media (max-width: 900px) {
   .main {
    flex-direction: column;
   }
}